* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: linen;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .main {
    color: lightslategrays;
    line-height: 2.5;
  }
  
  .navbar {
    background-color: darkred;
    color: #fff;
    height: 60px;
  }
  
  .navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: row;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar .logo {
    font-size: x-large;
    font-weight: bold;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    border-bottom: 2px #fff solid;
    color: #ddd;
  }
  
  button {
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: large;
    font-weight: bold;
    background-color: lightgrey;
    /* border-radius: 10px;
    border-width: 0px; */
  }

  button:hover {
    color: darkred;
    background-color: wheat;
  }
tr:nth-child(even) {
  background-color: #ddd;
}
  #time{
    background-color: lightcoral;
    padding: 4px;
font-size: large;
font-style: oblique;
  }
.image-container {
    width: 50%; /* Adjust this as needed */
    float: left;
    margin-right: 20px; /* Adjust this as needed */
}

.left-aligned-image {
    float: inline-start;
    margin-right: 30px; /* Adjust this as needed */
}


/* 기본 스타일 */
.custom-button {
  /* 공통 스타일 */
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* 핑크색 버튼 */
.custom-button-pink {
  background-color: #ed64a6; /* 핑크색 배경색상 */
  color: #fff; /* 흰색 텍스트 색상 */
}

.custom-button-pink:hover {
  background-color: #d53f8c; /* 마우스 호버시 배경색상 */
}

/* 파란색 버튼 */
.custom-button-blue {
  background-color: #4299e1; /* 파란색 배경색상 */
  color: #fff; /* 흰색 텍스트 색상 */
}

.custom-button-blue:hover {
  background-color: #2b6cb0; /* 마우스 호버시 배경색상 */
}

/* 노란색 버튼 */
.custom-button-yellow {
  background-color: #f6e05e; /* 노란색 배경색상 */
  color: #000; /* 검은색 텍스트 색상 */
}

.custom-button-yellow:hover {
  background-color: #f6e05e; /* 마우스 호버시 배경색상 */
}
